{% extends 'base.html' %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="/"><i class="fa fa-home"></i>&nbsp;Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href=".">Week -{{ week|date:"W" }}</a></li>
    </ol>
</nav>
<ul class="list-group list-group-horizontal">
    <li class="list-group-item flex-fill text-white bg-primary">BREAKFAST</li>
    <li class="list-group-item flex-fill text-white bg-primary">LUNCH</li>
    <li class="list-group-item flex-fill text-white bg-primary">SNACK</li>
</ul>
{% for menu in object_list %}
<p class="text-center text-white bg-success my-2">{{ menu }}</p>
<div class="row">
    <div class="col-md-4">
    {% for meal in menu.meals.all %}
        {% if meal.meal_type == 'BREAKFAST'%}
        <a href="{{ meal.get_absolute_url }}">
                <ul class="list-unstyled">
                    {% for item in meal.items.all %}
                    <li>{{item}}</li>
                    {% endfor %}
                </ul>
        </a>
        {% elif menu.meals.count < 3 %} No breakfast {% endif %}
    {% endfor %}
    </div>
    <div class="col-md-4">
        {% for meal in menu.meals.all %}
        {% if meal.meal_type == 'LUNCH' %}
        <a href="{{ meal.get_absolute_url }}">
                <ul class="list-unstyled">
                    {% for item in meal.items.all %}
                    <li>{{item}}</li>
                    {% endfor %}
                </ul>
        </a>
        {% elif menu.meals.count < 3 %} No lunch {% endif %}
    {% endfor %}
    </div>
    <div class="col-md-4">
    {% for meal in menu.meals.all %}
        {% if meal.meal_type == 'SNACK' %}
        <a href="{{ meal.get_absolute_url }}">
                <ul class="list-unstyled">
                    {% for item in meal.items.all %}
                    <li>{{item}}</li>
                    {% endfor %}
                </ul>
        </a>
        {% elif menu.meals.count < 3 %} No snacks {% endif %}
    {% endfor %}
    </div>
</div>
{% endfor %}
<a href="{% url 'menus-week' week|date:'Y' week|date:'W'|add:'-2' %}"><< Previous week</a> | <a href="{% url 'menus-week' week|date:'Y' week|date:'W' %}">Next week >></a>
{% endblock %}
