{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load ratings %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{{ object }}
<ol>
{% for item in object.items.all %}
    <li>{{ item }}</li>
    {% endfor %}
    <div>
        {% ratings object %}
    </div>
    <a href="{% url 'order' object.id %}" class="btn btn-small btn-primary">Order</a>
    <a href="{% url 'menu_detail' object.menu.id %}">Back to {{ object.menu }}</a>
{% endblock %}
