<style>
textarea{
  width: 100%;
  height:50px;
  padding: 12px 20px;
  margin: 8px 2px !important;
}
</style>
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
<h2>{{ menu }}</h2>
<table class='table table-bordered'>
    <tr class='table-primary'> <th>BREAKFAST</th> <th>LUNCH</th><th>SNACK </th></tr>
    {% for meal in menu.meals.all %}
    {% if meal.meal_type == 'BREAKFAST' %}
        <tr><td>
            <ol >
            {% for item in meal.items.all %}
                 <li>
                    {{ item }}
                    {% endfor %}
                </li>
            </ol>
            <a href="{% url 'order' meal.id %}">Order</a>
        </td>
        {% endif %}
        {% if meal.meal_type == 'LUNCH' %}
            <td>
            <ol>
            {% for item in meal.items.all %}
                 <li>
                    {{ item }}
                    {% endfor %}
                </li>
            </ol>
                <a href="{% url 'order' meal.id %}">Order</a>
            </td>
               {% endif %}

        {% if meal.meal_type == 'SNACK' %}
            <td>
            <ol>
            {% for item in meal.items.all %}
                 <li>
                    {{ item }}
                    {% endfor %}
                </li>
            </ol>
                <a href="{% url 'order' meal.id %}">Order</a>
            </td>
        {% endif %}
        {% endfor %}
	</tr>
</table>
    <a href={% url 'menus' %}>Back to Menu</a>
{% endblock %}
