{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
<h2>Dining hall weekly menu</h2>
<table class="table table-bordered">
    <tr>
    {% for menu in object_list %}
    <th><a href="/menu/{{ menu.id }}">{{ menu }}</th>
    {% endfor %}
    </tr>
    <tr>
    {% for meal in object_list %}
        <td class="menu font-weight-bold">BREAKFAST </td>
    {% endfor %}
    </tr>
    <tr>
    {% for menu in object_list %}
        {% for meal in menu.meals.all %}
        {% if meal.meal_type == 'BREAKFAST' %}
    <td>
        <ol>
            {% for item in meal.items.all %}
        <li>
            {{ item }}
            {% endfor %}
        </li>
        </ol>
    </td>
        {% endif %}
    {% endfor %}
        {% endfor %}
    </tr>
     <tr>
    {% for menu in object_list %}
        <td class="menu font-weight-bold">LUNCH </td>
    {% endfor %}
    </tr>
    <tr>
    {% for menu in object_list %}
        {% for meal in menu.meals.all %}
        {% if meal.meal_type == 'LUNCH' %}
    <td>
        <ol>
            {% for item in meal.items.all %}
        <li>
            {{ item }}
            {% endfor %}
        </li>
        </ol>
    </td>
        {% endif %}
    {% endfor %}
        {% endfor %}
    </tr>
     <tr>
    {% for menu in object_list %}
        <td class="menu font-weight-bold">SNACK </td>
    {% endfor %}
    </tr>
    <tr>
    {% for menu in object_list %}
        {% for meal in menu.meals.all %}
        {% if meal.meal_type == 'SNACK' %}
    <td>
        <ol>
            {% for item in meal.items.all %}
        <li>
            {{ item }}
            {% endfor %}
        </li>
        </ol>
    </td>
        {% endif %}
    {% endfor %}
        {% endfor %}
    </tr>
</table>
{% endblock %}
</div>
